
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Nuvem3</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/listagem" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Lista de Clientes</a>
        </li>
        <li class="nav-item">
          <a routerLink="/Cadastrar" routerLinkActive="active" class="nav-link" href="#">Cadastro de Cliente</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
