
<nav class="navbar navbar-expand-sm" bg-light>
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['/cliente']" class="nav-link" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          Crie um novo cliente
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/clientes']" class="nav-link" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          Clientes
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
